@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}
/* section#header */
section#header{
    border-bottom: 1px solid #c2c2c2;
}
.myNavIcons{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 20px;
}
.myToggleSearch{
    display: none;
}
.mySearch{
    display: block;
}
ul.dropdown-menu{
    background-color:  rgb(194 194 194 / 83%);
}
.myDropIcon{
    display: none;
    font-size: 10px;
}

/* section#home */

section#home img{
    filter: drop-shadow(0px 0px 30px #000);

}
.connect-btn{
    border: 1px solid #0045a6 ;
    color: #0045a6;
    background-color: #fff ;
    text-decoration: none;
    border-radius: 0;
    font-weight: 400 ;
    padding: 13px 38px ;
    transition: 1s;
}
.connect-btn:hover{
    background-color: #0045a6 ;
    color: #fff;
}

/* Section#whyChooseUs */
Section#whyChooseUs::before{
    content: ' ';
    width: 67%;
    height: 100%;
    background-color: #c2c2c2;
    z-index: -111;
    position: absolute;
    top: 0;
    left: 0;
}

/* section#connectbanner */
section#connectbanner{
    background: #0045a6;
}
section#connectbanner .connect-btn{
    border: 1px solid #fff ;
    color: #fff;
    background-color: #0045a6 ;
    text-decoration: none;
    border-radius: 0;
    font-weight: 400 ;
    padding: 13px 38px ;
    transition: 1s;
}
section#connectbanner .connect-btn:hover{
    transform: scale(1.1);
}


/* section#features */
section#features{
    background-color: #FAFAFA;
    color: #757575;
}

/* section#featured-cards */
section#featured-cards{
    background-color: #FAFAFA;
}

/* section#footer */
section#footer{
    background-color: #202022;
}


/* media screen for making drop downlist of navbar links */
@media screen and (min-width:992px){
    li.nav-item:hover ul.dropdown-menu {
        display: block;
        left: 0;
        width: 100vw;
        top: 100%;
      }
    li.nav-item{
        position: static;
    }
    ul.dropdown-menu{
        width: 100vw;
    }
}

/* media screens for responsiveness */
@media screen and (max-width:991px) {
    .myToggleSearch{
        display: block !important;
    }
    .mySearch{
        display: none !important;
    }
    a.nav-link{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .myDropIcon{
        display: inline-block;
    }
    section#home .home-content{
        flex-wrap: wrap;
        row-gap: 50px;
    }
    section#home .home-content .home-image{
        flex-basis:100%;
        display: flex;
        justify-content: center;
    }
    section#home .home-content .home-content-text{
        flex-basis:100%;
        text-align: center;
    }
    section#whyChooseUs .answer-why{
        flex-direction: column-reverse !important;
    
    }
    section#whyChooseUs .answer-why .answer-text{
        padding: 0 10px !important;
    }
    section#whyChooseUs .answer-why .answer-image{
        margin-bottom: 50px;
    }
    section#worldClassTeam .Team-info{
        flex-direction: column;
    }
    section#worldClassTeam .Team-info .whyTeam{
        flex-basis: 100% !important;
        width: 100% !important;
    }
    section#worldClassTeam .Team-info .whyTeam h2{
        width: 100% !important;
        margin-bottom: 20px;
    }
    section#worldClassTeam .Team-info .Team-intro{
        flex-basis: 100% !important;
    }
    section#connectbanner .connect-box{
        flex-direction: column;
    }
    section#connectbanner .connect-text{
        flex-basis: 100% !important;
        width: 100% !important;
    }
    section#details .detail-card{
        flex-direction: column-reverse;
        row-gap: 50px;
    }
    section#details .detail-card.card-sp{
        flex-direction: column !important;
    }
    section#details .detail-card .detail-card-image{
        flex-basis:100% !important;
        display: flex;
        justify-content: center;
    }
    section#details .detail-card .detail-card-text{
        flex-basis:100% !important;
        text-align: center;
        padding-left: 0 !important;
    }
    section#details .detail-card .detail-card-text li{
        text-align: left !important;
    }

    section#featured-cards .card{
         width: 100% !important;
         min-width: 0 !important;
    }
    section#featured-cards .card .col-md-4{
        width:25% !important;
    }
    section#featured-cards .card .col-md-8{
        width: 75% !important;
    }
    section#featured-cards .card .col-md-8 h4{
        width: 100%;
    }
}
@media screen and (max-width:786px){
    .ftr-scl-ul{
        flex-wrap: wrap;
        row-gap: 30px;
    }
    .ftr-scl-li{
        flex-basis:100%;
    }
}
@media screen and (max-width:552px){
    .ftr-scl-li .tel-email{
        flex-direction: column;
        align-items: start !important;
    }
    a.navbar-brand{
        margin-right:0;
    }
}
  
  